@{
    ViewBag.Title = "HC FOOSBALL";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Put a challange out.
            </p>
        </div>
    </section>
}
<h3>The rules:</h3>
<ol class="round">
    <li class="one">
        <h5>Keep the door closed!</h5>
        Simple as that.
    </li>

    <li class="two">
        <h5>No spinning.</h5>
        Players may not rotate more than 360 degrees before or after coming into contact with the ball.
    </li>

    <li class="three">
        <h5>Best out of 3</h5>
        Matches are best out of 3.
    </li>
    
    <li class="four">
        <h5>Keep the door closed!</h5>
        Seriously, keep it closed.
    </li>
</ol>
